.container {
	width: 85%;
	margin: 0 auto;
	background-color: red;
	min-height: 200px;
}

.navbar_grid {
	width: 100%;
	display: grid;
	grid-template-columns: 15% 75% auto;
}

.navbar li a {
	color: #000;
}
